<!DOCTYPE html>
<html ng-app='tvshows'>
  <head>
  	<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css' />
  </head>
  <body>
  	<script type='text/javascript' src='angular.min.js'></script>
  	<script type="text/javascript" src='app.js'></script>


  	<section ng-controller="TabController">
  		<ul class="nav nav-pills">
  			<li ng-class="{ active:isSet(1) }">
              <a href="" ng-click="setTab(1)">Search TV Shows</a>
            </li>
            <li ng-class="{ active:isSet(2) }">
              <a href="" ng-click="setTab(2)">Currently Watching</a>
            </li>
  		</ul>
  		<div ng-show="isSet(1)" ng-controller="TVShowsController">
          <h4>Search TV Shows</h4>
          <form name='searchTVShowsName' novalidate >
            <input class='text' type='text' name='tvshowname' ng-model='tvshowname'  placeholder='search TV show' required/>
            <input type='submit' value='Search' ng-click='getTVShowsListByName(tvshowname)' ng-disabled="searchTVShowsName.$invalid"/>
          </form>
          <ul class='list-group'>
            <a href="#" ng-repeat = 'tvshow in tvshowslist' class="list-group-item">
          	  <img class="list-group-item" ng-src='http://image.tmdb.org/t/p/w92{{tvshow["poster_path"]}}'/>
              <h4 class="list-group-item-heading">{{ tvshow.name }}</h4>
              <p class="list-group-item-text">{{ tvshow.overview }}</p>
          	  <input type='submit' value='Select' ng-click='getTVShowDetails(tvshow["id"])'/>
            </a>
          </ul>
        </div>
        <div ng-show="isSet(2)" ng-controller="WatchingListController">
          <h4>Currently Watching</h4>
          <ul class='list-group'>
            <span href="#" ng-repeat = 'tvshow in watchingList track by $index' class="list-group-item">
              <h4 class="list-group-item-heading">{{ tvshow.name }}</h4>
              <!--<form name="currentlyWatching">
                <label for="season"> Season: </label>
                <select name="season" id="season" ng-model="tvshow.seasons" ng-change='getEpisodes(3)'>
                  <option ng-repeat="season in tvshow.seasons" value="{{season.season_number}}" ng-show='{{season.season_number}}'>{{season.season_number}}</option>
                </select>
              </form>-->
              <div>Season:
              <input class='text' type='text' name='currentSeason' ng-model='tvshow.currentSeason' required/>
              </div>

              <div>Episode:
                <input class='text' type='text' name='currentEpisode' ng-model='tvshow.currentEpisode' required/>
              </div>

            <input type='submit' value='Update' ng-click='updateTVshow($index, tvshow.currentSeason, tvshow.currentEpisode )'/>

            </span>
          </ul>
        </div>
  	</section>
  	<section>
	 
     	<!--	<button type='submit' value='submit' ng-click='getTVShowsListByName()'>The Walking Dead</button> -->
	 
  	</section>
  </body>
</html>